@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Pacifico&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.hed{
    font-family: 'Lemon', serif;  
}
.gfb{
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
}